USE [master]
GO
/****** Object:  Database [FullCrossJoin]    Script Date: 8/16/2019 10:43:58 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'FullCrossJoin')
BEGIN
CREATE DATABASE [FullCrossJoin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FullCrossJoin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FullCrossJoin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FullCrossJoin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FullCrossJoin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FullCrossJoin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FullCrossJoin]
GO
/****** Object:  Table [dbo].[TableA]    Script Date: 8/16/2019 10:43:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TableA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TableA](
	[ID] [int] NULL,
	[Name] [varchar](50) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TableB]    Script Date: 8/16/2019 10:43:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TableB]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TableB](
	[ID] [int] NULL,
	[Name] [varchar](50) NULL
) ON [PRIMARY]
END
GO
USE [master]
GO
